/*@import url('http://fonts.cdnfonts.com/css/segoe-ui-4');*/
html {
      box-sizing: border-box;
      background:#ffc600;
/*      font-family:'Courier New';*/
    font-family: 'Segoe UI', sans-serif;
    font-family: 'Helvetica Neue', 'Helvetica', 'Arial', Sans-Serif;
      font-size: 20px;
      font-weight: 200;
      scroll-behavior: smooth;
        scroll-padding-top: 50px;
    }
    body {
      margin: 0;
/*        padding-top: 5%;*/
    }
    *, *:before, *:after {
      box-sizing: inherit;
    }

    .navbar {
      overflow: hidden;
      background-color: #333;
        background-color: #1B3E69;
        background-color: #12243A ;
        background-color: #88878C;
        background-color: #333;
        background-color: white;
        
      position: fixed;
      top: 0;
/*        bottom: 90%;*/
/*        bottom: 30px;*/
      width: 100%;
        height: 60px;
      display: flex;
        text-align: center;
      align-items:center;
        z-index: 10;
        
    }

    .navbar a {
      float: left;
      display: block;
      color: #f2f2f2;
        color: black;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 25px;   
    }

    .navbar a:hover {
/*      background-color: #ddd;*/
      color: #0d05f0;
    }

    .navitem {
        flex-grow: 1;
        border: 1px solid red;
        text-align: center;
      align-items:center;
    }

/* ============== LEVEL 1 ============== */

    .panels {
/*      position: relative;*/
      margin-top: 60px;
/*        top: 20%;*/
/*        top: 10%;*/
      min-height:100vh;
/*        height: 80%;*/
      overflow: hidden;
      display: flex;
    }

    .learn {
        min-height: 100vh;
        display: flex;
        
    }

/* ============== LEVEL 2 ============== */
    .panel {
      background:#C4C4C3;
        background: #ddd;
        background: #C4C4C3 ;
        background: #4F4E4C ;
        
    background: linear-gradient(to bottom, #CFE0F6 0%, #A0C7F7  100%);
        background: linear-gradient(to bottom, #F8F7F4 0%, #E2E1DF  100%);
        background: white;
        background:#dbd6d5;
        background: #280d59; 
        background: #dcdae0;
        background: #88878a;
        background-color: #060659;
        background-color: #041436;
    color: #4F4E4C ;
        color: black;
        color: #cbcacc;
        color: white;
        color: #f0f3fa;
      text-align: center;
      align-items:center;
      /* Safari transitionend event.propertyName === flex */
      /* Chrome + FF transitionend event.propertyName === flex-grow */
      transition:
        font-size 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
        flex 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
        background 0.2s;
      font-size: 10px;
      background-size:cover;
      background-position:center;
      flex: 1;
      flex-grow: 1;
      justify-content: center;
        
      
/*      flex-direction: column;*/
        overflow: hidden;
        display: flex;
    }


    .panel1 {
        width: 100%;
/*        text-align: center;*/
/*        justify-content: center;*/
/*        display:flex;*/
        flex-direction: column;
        justify-content: center;
        align-items: center;
/*        color: #1B4A85s;*/
        }

    
    .panel2{
    /*      background:#F8F7F4 ;*/
/*        display: flex;*/
        background: linear-gradient(to top, #A5A5A3 0%, #4F4E4C   100%);
        background: linear-gradient(to top, #CFE0F6 0%, #A0C7F7  100%);
        background: linear-gradient(to top, #2F435C 0%, #2F435C  100%);
        background: linear-gradient(to bottom, #F8F7F4 0%, #E2E1DF  100%);
        background: white;
        background: #dcdae0;
        background: #88878a;
        background: #041436;
    /*    background: #dbd6d5;*/
    /*    background: linear-gradient(to top, #F8F7F4 0%, #E2E1DF  100%);*/
            /* box-shadow is for the line between two panels*/
    /*      box-shadow:inset 0 0 0 5px rgba(255,255,255,0.1);*/
          color:#F8F7F4  ;

        }
     
    .learn > * {
        
        text-align: center;
        align-items:center;
        background-size:cover;
        background-position:center;
        justify-content: center;
        background-color: white;
        background-color: #fbfbfd;
        border: 1px solid red;
        display: flex;
        flex-direction: column;
        box-shadow:inset 0 0 0 5px #C8C7CD;
        flex-grow: 1;
        flex: 1;
        transition:
        font-size 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
        flex 0.8s cubic-bezier(.43,.02,.58,.99),
        background 0.2s;
        -webkit-transition:
        font-size 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
        flex 0.8s cubic-bezier(.43,.02,.58,.99),
        background 0.2s;
        transition: all 0.8s cubic-bezier(.43,.02,.58,.99);
    }

/*
.learnpan {
    display: flex;
}
*/
.learnpan.open {
    flex: 5;
}
    


/*
#learn .panel {
    background-color: white;
    color: black;
}
#learn .panel1 {
    background-color: #041436;
    color: white; 
}
*/

/* ============== LEVEL 3 ============== */
    .panel1 > * {
        font-size: 1.8em;
        width: 100%;
        border: 1px solid green;
        display: flex;
        flex-direction: column;
        
        }

    .subpanel {
        flex: 1;
    }

    

    .subpanel1 {
/*        display: flex;*/
/*        flex-direction: column;*/
        justify-content: flex-end;
        padding:2px;
    /*    margin-bottom: -400px;*/
        align-items: center;
    
    }

    .subpanel2 {
/*        display: flex;*/
/*        flex-direction: column;*/
        justify-content: center;
        text-align: left;
/*        align-items: center;*/
        padding:2px;
    }


    /* Flex Items */
    .panel2 > * {
      margin:0;
/*      width: 100%;*/
      height: 100%;
      transition:transform 0.5s;
      flex: 1;
      display:flex;
      justify-content: center;
      align-items: center;
      border: 1px solid red;
      flex-grow: 1;
    }
    


    .panel2 p {
      font-size: 2.5em;
    }

/*
#learn .panel1 p {
    font-size: 5em;
}
*/
.learnpan > * {
    border: 1px solid blue;
/*    margin: 0;*/
/*    flex-grow: 1;*/
    flex-grow: 1;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    
}

.learnsubpan1 {
    flex: 0.8 0;
    justify-content: flex-end;
    width: 80%;
    align-items: center;
    
}

.learnsubpan2 {
    flex: 1 0;
    text-align: left;
/*
    justify-content: center;
    align-items: center;
*/
/*    padding: 30px;*/
}
/*
.learnsubpan1 {
    flex: 1;
}
*/

    .learnpan img {
            max-height: 100px;
            max-width: 100px;
        
        }
/*
.para {
    margin-top: 70px;
    font-size: 16px;
}
*/
/* ============== LEVEL 4 ============== */
    .subpanel1 > * {

        border: 1px solid blue;
         margin:2px;  
        font-size: 2.5em;
    /*    align-self: end;*/
    /*    flex: 1;*/

    }

    /* profile pic */
    .subpanel1 > img {
/*        border-radius: 50%;*/
        clip-path: circle();
        max-width: 230px;
        max-height: 230px;
        -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
      filter: grayscale(100%);
        opacity: 0.2;

/*        filter: alpha(opacity=40);*/
/*
        justify-content: center;
        align-items: center;
*/
    }

.subpanel1 > img:hover {
    opacity: 1;
    filter: grayscale(0%);
/*    filter: sepia(1%) hue-rotate(50deg) saturate(50%);*/

    
}

    .subpanel2 > * {
        border: 1px solid blue;
         margin:2px;  
        margin-left: 10px; 
    /*    padding: 3px;*/
    /*    align-self: end;*/
/*
        flex-direction: row;
        flex: 1;
*/

    }

    .subpanel2 p:first-child {

    }




/* social media logos*/
    .fa {
      padding: 20px;
      font-size: 30px;
      width: 65px;
      text-align: center;
      text-decoration: none;
      margin: 5px 2px;
        border-radius: 50%;
        border: 0.25px solid black;
        opacity: 0.2;
    }
    .fa:hover {
        opacity: 1;
    }

    .fa-facebook {
      background: #4F4E4C;
        background: black;
        background: white;
/*        background: #dbd6d5;*/
      color: #0754B2 ;
        color: black;
        
    }

    .fa-instagram {
        background: #4F4E4C;
        background: black;
        background: white;
      color: #0754B2 ;
        color: black;
    }

    .fa-github {
          background: black;
        background: white;
          color: #0754B2 ;
        color: black;
        }
    .tooltip {
      position: relative;
      display: inline-block;
      border-bottom: 1px dotted black;
    }

    .tooltip .tooltiptext {
      visibility: hidden;
      width: 120px;
      background-color: black;
      color: #fff;
      text-align: center;
      border-radius: 6px;
      padding: 5px 0;

      /* Position the tooltip */
      position: absolute;
      z-index: 1;
    }

    .tooltip:hover .tooltiptext {
      visibility: visible;
    }
    .fa-linkedin {
        background: #4F4E4C;
        background: black;
        background: white;
      color: #0754B2 ;
        color: black;
    }

    .fa-envelope {
        background: #4F4E4C;
        background: black;
        background: white;
      color: #0754B2 ;
        color: black;
        }

.learnsubpan > * {
    
    border: 1px solid magenta;
    margin: 0;

}

.learnsubpan2 p {
    font-size: 15px;
    margin-top: 4em;
    margin-left: 1em;
    margin-right: 1em;
/*    margin-bottom: -2em;*/
}

.learnsubpan1{
    opacity: 0.4;
    -webkit-filter: grayscale(100%);
}


.learnsubpan1:hover{
    opacity: 1;
    cursor: pointer;
    -webkit-filter: grayscale(0%);
    
}
/*.panel > *:first-child { transform: translateY(-100%); }*/
.learnsubpan2 .short-ver {
    transition: opacity 1s ease-out;
/*    display: block;*/
/*    transform: translateY(-100%);*/
}
.learnpan.open-active .learnsubpan2 .short-ver{
    opacity: 0;
    height: 0;
}

.learnsubpan2 .long-ver {
/*    display: none;*/
    transition: opacity 1s ease-out;
    -webkit-transition: opacity 1s ease-out;
    opacity: 0;
    height: 0;
}
.learnpan.open-active .learnsubpan2 .long-ver{
    opacity: 1;
    height: auto;
}
/*
.learnmore {
    color: #0867D8;
    cursor: pointer;
}

.learnmore a:hover {
      background-color: #ddd;
      color: #0d05f0;
    }*/
